:root {
    --primary-color: #e27e15;
    --secondary-color: #a9a0a0;
    --tertiary-color: #0f68a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styling body of portfolio */
body {
    color: var(--tertiary-color);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* styling header */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.avatar {
   flex-direction: column;
   justify-content: center; 
   text-align: justify;
   padding: 2px 0px;
   flex: 1 0 0;
   flex-wrap: wrap;
}

.avatar img {
    width: 50%;
    min-width: 400px;
}

.work-samples {
    display: flex;
    flex: 1 0 0;
    flex-wrap: wrap;
}

section {
    background-color: orange;
}
