:root {
    --primary-color: #e27e15;
    --secondary-color: #eeeeee;
    --tertiary-color: #0f68a6;
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styling body of portfolio */
body {
    color: var(--tertiary-color);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* styling header 
- including flex properties
-including sticky property

*/
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--secondary);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}


/* 
forgot to add flex properties to nav ul and nav ul li a!

*/
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}



main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    background-color: var(--secondary-color);
}

.avatar {
   flex-direction: column; 
   text-align: center;
   flex: 1 0 0;
   flex-wrap: wrap;
   padding: 20px 20px;
   border: 5px solid black;
}

.avatar h2 {
    flex-wrap: wrap;

}

.avatar img {
    min-width: 150px;
    width: 15%; 
    border-radius: var(--border-radius);
   }

/* set flex-basis so title would maintain spot above examples and not be smashed in*/

   .section-title {
    font-size: 32px;
    padding: 5px 5px;
    font-style: italic;
    flex-basis: 100%;
    text-align: center;
}


/* need to figure out how to align in row- flex didn't solve this but adding flex-wrap to .work-sample did*/
.samples {
    display: flex;
    flex: 3 0 0;
    flex-wrap: wrap;
   /* changing color to view div box*/
    background-color: var(--secondary-color); 
    border: 5px solid black;
    padding-bottom: 20px;
}

.work-sample {
    display: flex;
    flex: 1 0 0;
    flex-wrap: wrap;
    justify-content: center;
    }

.work-sample img {
    width: 35%;
    border-radius: var(--border-radius);
    transition: transform 0.25s ease;
    margin: 5px 5px;
}

/* added in smooth enlarge on hover */
.work-sample img:hover {
    -webkit-transform: scale(1.5); transform: scale(1.5);
}

.sample-title {
    color: var(--secondary-color);
}

.sample-link {
    flex-basis: 100%;
    text-align: center;
}

/*adding in hover features to link titles */
.sample-link a:hover {
    color: white;
}

section {
    
}

section article {
   
}

main2 {
    display: flex;
    }

.about-me {
    flex: 1;
}

.contact-me {
    flex: 1;
}

.resume {
    flex: 1;
}